.subtotal{
    justify-content: space-between;
}

.product-section{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}
.cart-img-expand{
    width: 40px;
    height: 40px;
    margin: 0 2rem;
}
.cart-image {
    width: 20%;
    height: 20%;
    padding: 0%;
}
.quantity{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin: 0 2px;
    padding: 0;
    background-color: white;
    color: black;
    float: right;
    border: none;

}